<button 
    id="btn-menu" 
    class="button-round btn bg-primary" 
    data-toggle="modal" 
    data-target="#menu"
    (click)="girarBoton()">
        <i class="fa fa-align-justify color-white" aria-hidden="true"></i>
</button>
<div class="list-group menu modal" id="menu">
    <a href="#" class="list-group-item list-group-item-action item-list">Home</a>
    <a href="./assets/json/productos.json" class="list-group-item list-group-item-action item-list">Productos</a>
    <a href="#" class="list-group-item list-group-item-action item-list">Clientes</a>
    <a href="#" class="list-group-item list-group-item-action item-list">Ventas</a>
</div>